*__pycache__/
*.pyc
.idea/
.DS_Store
/netsec_fall2017/lab2/certs/
netsec_fall2017/lab2/certs/csr_file
netsec_fall2017/lab2/certs/private_key
netsec_fall2017/lab2/certs/root.crt
netsec_fall2017/lab2/src/lab2_protocol/aa.py
